@model IEnumerable<Lab3.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
<<<<<<< HEAD
    @Html.ActionLink("Crear", "Create")
    @Html.ActionLink("Borrar", "Borrar")                         

    @Html.ActionLink("Detalles", "Details")

    @using (Html.BeginForm())
    {
    <p>
        Encontrar por nombre: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
=======
    @Html.ActionLink("Create New", "Create")
>>>>>>> 7c3a1eb3c81e2a32239a8dbf35fbaa8f18ce3cd4
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
