@model IEnumerable<Lab3.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Partidos del Mundial de la FIFA</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Buscar: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }

    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Delete", "Delete")

</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPartido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPartido)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoPartido }) |
                @Html.ActionLink("Details", "Details", new { id = item.NoPartido }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoPartido }) |

            </td>

        </tr>

    }

</table>
