@model IEnumerable<Lab3.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
    @Html.ActionLink("Borrar", "Borrar")

    @Html.ActionLink("Detalles", "Details")

    @using (Html.BeginForm())
    {
    <p>
        Encontrar por nombre: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
</p>
<table class="table">
    <tr>

    <th>
        @Html.DisplayNameFor(model => model.NoPartido)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPartido)
        </th>
    <th>
        @Html.DisplayNameFor(model => model.Grupo)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadio)
        </th>

    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NoPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadio)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NoPartido }) |
            @Html.ActionLink("Details", "Details", new { id = item.NoPartido }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NoPartido })
        </td>
    </tr>
}

</table>
